version: '3.8'

services:
  workers:
    build: .
    ports:
      - "8005:8005"
    environment:
      KAFKA_BROKERS: ${KAFKA_BROKERS:-kafka:29092}
      KAFKA_TOPIC_JOBS: ${KAFKA_TOPIC_JOBS:-recipe.jobs}
      RECIPE_INTERNAL_URL: ${RECIPE_INTERNAL_URL:-http://host.docker.internal:8003}
      AI_ORCHESTRATOR_URL: ${AI_ORCHESTRATOR_URL:-http://host.docker.internal:8004}
      SERVICE_TOKEN: ${SERVICE_TOKEN:-dev-service-token}
    volumes:
      - .:/app
      - /app/node_modules

